<p-card>
  <ng-template pTemplate="header">
    <!-- <label> Header content here -->
      <div>
        <img alt="logo" src="https://imagesapi.showingtime.com/api/v1/images/LISTING/HAR/54792004">
      </div>
  </ng-template>
  <div>
    <span>5006 Waterbeck Street
      Fulshear, Texas 77441
      54792004
      SOLD
      $625,000</span>
  </div>
  <ng-template pTemplate="footer">
    <label>Presented By:</label>
  </ng-template>
</p-card>
<div class="p-fluid p-grid p-pt-3">
  <div class="p-col-12 p-py-1">
    <button pButton type="button" label="Print"></button>
  </div>
  <div class="p-col-12 p-py-1">
    <button pButton type="button" label="Archive"></button>
  </div>
  <div class="p-col-12 p-py-1">
    <button pButton type="button" label="Merge"></button>
  </div>
  <div class="p-col-12 p-py-1">
    <button pButton type="button" label="Copy Instructions"></button>
  </div>
  <div class="p-col-12 p-py-1">
    <button pButton type="button" label="Listing Activity Report"></button>
  </div>
  <div class="p-col-12 p-py-1">
    <button pButton type="button" label="Send Notifications"></button>
  </div>
  <div class="p-col-12 p-py-1">
    <button pButton type="button" label="Listing Change Log"></button>
  </div>
  <div class="p-col-12 p-py-1">
    <button pButton type="button" label="Attachments"></button>
  </div>
  <div class="p-col-12 p-py-1">
    <button pButton type="button" label="Set as Multi-Unit"></button>
  </div>
  <div class="p-col-12 p-py-1">
    <button pButton type="button" label="New Showing Request"></button>
  </div>
  <div class="p-col-12 p-py-1">
    <button pButton type="button" label="Get the New Pricing Benchmark Report" class="p-button-success"></button>
  </div>

</div>
