@import 'partials/_variables';

.listing-item-details-field .p-grid > [class*=p-col] {
  // padding-bottom: 0px;
  // padding-top: 5px;
}

.listing-item-details-field .p-grid > label {
  font-weight: bold;
}

.listing-item-details-field {
  padding-left: 1.5rem;
}

.listing-image-modal{
  height: 319px;
  //width: 500px;
  width: 100%;
  object-fit: cover;
}

.listing-image-thumbnail{
  width: 70px;
  height: 40px;
}

.listing-no-images {
  width: 60%;
  height: 319px;
  object-fit: cover;
}

:host ::ng-deep {
  .listing-agent .p-card-body{
    height: 165px;
    padding: 5px;
  }
  .listing-agent .p-card-content{
    padding: 0px;
  }
  .listing-info .p-card-body{
    height: 137px;
  }
  .listing-info .p-card-content{
    padding: 0px;
  }
  .listing-info label, .listing-info p{
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.listing-price {
  // background-color: #3F51B5;

  background-color: #919191;

  color: white;
  padding: 6px;
}


.with-icon {
    display: flex;
    align-items: center;
    vertical-align: middle;
    .fa {
      font-size: 20px;
    }
}



