

@import 'partials/_variables';

:host ::ng-deep {
  .form-card {
    margin-top: 0.5rem;
    .p-card-header {
      background-color: $primaryColor;
      color: white;
    }
    .p-card-content {
      padding: 0;
    }
    .p-field {
      margin-bottom: 0.5rem;
    }
  }
  .form-card-footer-border {
    .p-card-footer {
      border-top: 1px solid grey;
    }
  }
}
