<app-count-overview [userAppointmentStatResponse]="userAppointmentStatResponse"></app-count-overview>
<div align="end" class="p-pr-4">
  <button mat-raised-button color="primary" (click)="onScheduleAppointmentLink()">Schedule Appointment<i class="fa fa-calendar-o p-ml-2" aria-hidden="true" ></i>
  </button>
</div>
<div fxFill fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start start" >
  <div fxFill fxFlex="45" fxLayout="column" fxLayoutAlign="space-between stretch" class="p-px-2 p-pt-2 p-pb-0">
    <app-notification-list [notifications]="userAppointmentStatResponse?.notifications"></app-notification-list>
  </div>
  <div fxFill fxFlex="55" fxLayout="column" fxLayoutAlign="space-between center" class="p-px-2 p-pt-2 p-pb-0">
    <div class="p-pb-2 p-px-3">
      <app-appointment-user-requested-table
        [appointmentCountDetails]="userAppointmentStatResponse?.appointmentUserRequested"
      >
      </app-appointment-user-requested-table>
    </div>
    <div class="p-pb-0 p-px-3">
      <app-appointment-other-requested-table
        [appointmentCountDetails]="userAppointmentStatResponse?.appointmentOtherRequested"
      >
      </app-appointment-other-requested-table>
    </div>
  </div>
</div>
