@import 'partials/_variables';
@import 'partials/_primeng';
@import 'partials/_forms';


:host ::ng-deep {
  .password-icon {
    // background: #ffffff;
    margin-left: -27px;
    position: absolute;
    transform: translateY(0.55rem);

    .pi {
      color: #808080;
      font-size: 1.3rem;
      cursor: pointer;
      &:hover {
        color: #333333;
      }
    }
  }
}
